
.row.portion {
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
}
.row.portion.hero {
    background: url("../../assets/img/rsz_dub (1).jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background: linear-gradient(-75deg,rgb(207,193,0),rgb(0,177,109) ,rgb(50,185,178),rgb(80,91,243),rgb(177,42,231));
    // background-size: 400% 400%;
    // -webkit-animation: Gradient 10s ease infinite;
    // -moz-animation: Gradient 10s ease infinite;
    // animation: Gradient 10s ease infinite;
    // transform-style: inherit;
}
.row.portion.about {
    word-wrap: break-word;
}
.row.portion.skill {
    background: #fac232;
    color: #000000;
}

.row.portion.skill:before {
    content: ' ';
    position: absolute;
    top: 65vh;
    left: 0;
    width: 100%;
    height: 60%;
    background: #5e5e5e;
    z-index: -1;
    -webkit-transform: skewY(5deg) scale(1.5);
}
.row.portion.service {
    background: #5e5e5e;
}

.service_title{
    font-size: rem-calc(30);
    display: inline-block;
}

.row.portion.service:before {
    content: ' ';
    position: absolute;
    top: 70vh;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fac232;
    z-index: -1;
    -webkit-transform: skewY(1.5deg) scale(1);
}
.row.portion.contact {
    background: #fac232;
}
.row.portion.contact:before {
    content: ' ';
    position: absolute;
    top: 70vh;
    left: 0;
    width: 100%;
    height: 50%;
    background: #5e5e5e;
    z-index: -1;
    -webkit-transform: skewY(-1.5deg) scale(1);
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.row.portion.hero:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(62,205,224,0.25);
    z-index: 1;
}




.row.portion {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
}
.row.portion.hero {
    background: url("../../assets/img/rsz_dub (1).jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background: linear-gradient(-75deg,rgb(207,193,0),rgb(0,177,109) ,rgb(50,185,178),rgb(80,91,243),rgb(177,42,231));
    // background-size: 400% 400%;
    // -webkit-animation: Gradient 10s ease infinite;
    // -moz-animation: Gradient 10s ease infinite;
    // animation: Gradient 10s ease infinite;
    // transform-style: inherit;
}
.row.portion.about {
    word-wrap: break-word;
}
.row.portion.skill {
    background: #fac232;
    color: #000000;
}

.row.portion.skill:before {
    content: ' ';
    position: absolute;
    top: 65vh;
    left: 0;
    width: 100%;
    height: 60%;
    background: #5e5e5e;
    z-index: -1;
    -webkit-transform: skewY(5deg) scale(1.5);
}
.row.portion.service {
    background: #5e5e5e;
}
.row.portion.service:before {
    content: ' ';
    position: absolute;
    top: 70vh;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fac232;
    z-index: -1;
    -webkit-transform: skewY(1.5deg) scale(1);
}
.row.portion.contact {
    background: #fac232;
}
.row.portion.contact:before {
    content: ' ';
    position: absolute;
    top: 70vh;
    left: 0;
    width: 100%;
    height: 50%;
    background: #5e5e5e;
    z-index: -1;
    -webkit-transform: skewY(-1.5deg) scale(1);
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.row.portion.hero:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(62,205,224,0.25);
    z-index: 1;
}
.dotnav {
    padding: 0;
    list-style: none;
    font-size: 0.001px;
    right: 10px;
    top: 50%;
    margin-top: -50px;
    height: 100px;
    z-index: 999;
    position: fixed;
    outline: none;
    
}
@include breakpoint(medium down) {
   
    .dotnav{
        visibility: hidden;
    }
}

.dotnav > li {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    mix-blend-mode: exclusion;
    outline: none;
    
}
.dotnav > li:nth-child(n+2) {
    margin-left: 15px;
    outline: none;
    
}
.dotnav > li > a {
    display: inline-block;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid #000000;
    vertical-align: top;
    overflow: hidden;
    padding: 0;
    text-indent: -999%;
    outline: none;
    
}


.dotnav > li > a:hover{
    background: #ffffff;
    outline: none;
    -webkit-transform: scale(1.5);
    
    
}
a.is-active{
    background: #ffffff;
    outline: none;
    
}

.dotnav-vertical > li {
    display: block;
    margin-right: 10px;
}
.dotnav-vertical > li:nth-child(n+2) {
    margin-left: 0;
    margin-top: 10px;
}

form{
    margin-top:50px;
    transition: all 4s ease-in-out;

}

.contact_form{
@include horizontal-center;
}

.form_control{
width: 600px;
background:transparent;
border:none;
outline: none;
border-bottom:1px solid #4c4c4c;
color: #ffffff;
font-size:18px;
margin-bottom: 16px;

}

input{
    height:45px;
    color: #4c4c4c;
    cursor: pointer;
    
}

textarea{
    resize: none;    
}

form .submit{
    background:#4c4c4c;
    font-size:20px;
    font-weight: bold;
    letter-spacing: 2px;
    height:50px;
    margin-top:20px;
    border: 1px solid #fac232;
}

#skill_text{
    @include horizontal-center;
    color:#fac232;
    font-size: rem-calc(40vw);
    font-family: "Raleway" sans-serif;
    font-weight:bold;
}

@include breakpoint(large down) {
    
      #skill_text{
          @include horizontal-center;
          display: inline;
          font-size: rem-calc(15vw);
          
      }
  }

.scroll-down {
    position: absolute;
    top: 94%;
    left: 51%;
    transform: translate(-50%,-50%);
    height: 50px;
    text-shadow: 0 0 80px rgba(255,255,255,0.85);
}
.scroll-down p {
    position: absolute;
    text-align: center;
    width: 120px;
    padding-top: 120px;
    padding-right: 10px;
    transform: translate(-50%,-50%);
    color: rgba(255,255,255,0.85);
    text-shadow: 0 0 80px rgba(255,255,255,0.85);
    font-family: sans-serif;
    font-weight: bold;
    font-size: rem-calc(1vw);
}
.scroll-down:before {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-left: 2px solid rgba(255,255,255,0.85);
    border-bottom: 2px solid rgba(255,255,255,0.85);
    transform: rotate(-45deg);
}
.scroll-down:after {
    content: '';
    position: absolute;
    top: 23px;
    left: -6px;
    width: 2px;
    height: 25px;
    background: rgba(255,255,255,0.85);
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }
    45% {
        transform-origin: top;
        transform: scaleY(1);
    }
    55% {
        transform-origin: bottom;
        transform: scaleY(1);
    }
    100% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
}
.grid-x {
    &.about_g {
        height: 100vh;
        color: #000000;
        background: #5e5e5e;
        width: 100%;
        z-index: 0;
    }
    &.skill_g {
        height: 100vh;
        color: #f5c628;
    }
}
.about_g:before {
    content: ' ';
    position: absolute;
    top: 170vh;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fac232;
    z-index: -1;
    -webkit-transform: skewY(-5deg) scale(1);
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.profile_wrapper {
    padding-top: 5%;
    width: 100%;
    height: 30%;
    
}

.burger_wrapper{
    position: fixed;
    top: 0px;
    left: 0px;
    padding-left: 1.5vh;
    padding-top:1.5vh;
    width: auto;
    height:auto;
    cursor:pointer;
    z-index: 2;
    visibility: hidden;
    
}
@include breakpoint(medium down) {
    .burger_wrapper{
    visibility: visible;
    }        
}

.hamburger{
    @include hamburger(#a7a7a7, #000000, 25px, 25px,3px);
    
}

.profile_img {
    @include horizontal-center;
    border-radius:50vh; 
    position: relative;
    height: 20vh;
    width: 20vh;
    background: url("../../assets/img/ProfilePhoto.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#about_container {
    color: white;
    border-radius: 10px;
    width: 30%;
    position: relative;
    height: 75vh;
    font-size: rem-calc(18vw);
    letter-spacing: rem-calc(1.2);
    background: rgba(0,0,0,0.25);
    overflow: hidden;
    
}

.animation{
    opacity:0;
    // transform: translateY(5vh);
    transition: all 1s ease-out;

        &.fade-in{
            opacity: 1;
            // transform: translateY(0);
        }

}



@include breakpoint(large down) {
    #about_container{
        width:60%;
        height: 90vh;
        font-size: rem-calc(15);
        
    }

}

@include breakpoint(medium down) {
    #about_container{
        width:90%;
        height: 90vh;
        
    }

}
.centered {
    color: rgba(255,255,255,0.90);
    margin: 0;
    text-align: center;
}
.centered p {
    top: 18%;
    padding-left: 50vh;
    width: 40rem;
    margin: 0 0 0 -20em;
    text-transform: uppercase;
    letter-spacing: .4vh;
    display: inline-block;
    border: rem-calc(4vw) double rgba(255,255,255,0.85);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    
    background: rgba(0, 0, 0, 0.822);
    
}
.centered span {
    font-family: "Raleway" sans-serif;
    letter-spacing: 0vw;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(0,0,0,0.25);
}
#carousel {
    display: table-cell;
    @include absolute-center;
    width: 90%;
    border-radius: 5px;
    
}

ul {
    list-style-type: none;
}



.orbit-container{
    border-radius: 15px;
    height: 80vh;
    outline:none;
}

$white: #fefefe;
.doc_orbit_slide {
    padding: 2rem 4rem;
    color: $white;
    border-radius: 15px;

    height: 70vh;
    background: rgba(71, 71, 71, 0.699);
 
}

.orbit-slide{
    font-size: rem-calc(35);
    
}


@include breakpoint(medium down) {
    
        .orbit-slide{
            font-size: rem-calc(23);
            
            
        }
       
    }

.bold_title {
    font-weight: bold;


    &.skill {
        font-size: rem-calc(47);
        color:#4c4c4c;
        font-family: "Raleway" sans-serif;
        font-weight:bold;      

    }
    &.about {
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: rem-calc(167);
    }
}

.contact_cards{
    height: 45vh;
    width: 45vh;
    display:block;
    border: none;
    margin: 0 auto;
    font-size: rem-calc(20.75vw);
    transition-timing-function: ease-in;
    transition: 0.5s;
    border-radius: 10%;
    

    &.email{
        background: url("../../assets/img/mail4.svg") no-repeat center center;
        background-size: 50% 50%;
        background-color: #db3236;
       
    }

    &.linkedin{
        background: url("../../assets/img/linkedin.svg")no-repeat center  center;
        background-color: #0077B5;        
        background-size: 50% 50%;
        
        
    }
 }


 .contact_container{
    padding-top:20vh;
    
}

 @include breakpoint(large down) {

    .contact_container{
        padding-top:5vh;        
        padding-bottom: 10vh;   
        
    }

   
}

 .contact_cards.email:hover { 
    background-color: #db3236;
    transform: scale(1.2); 
    
}
.contact_cards.linkedin:hover { 
    background-color: #0077B5;
    transform: scale(1.2); 
    
}

.cards {
    @include vertical-center;
    @include horizontal-center;
    height: 45vh;
    width: 45vh;
    border: none;
    position: relative;
    perspective: 500px;
    font-size: rem-calc(20.75vw);
}
@include breakpoint(large down) {
    
      .cards {
      
        height: 55vh;
        width: 30vw;
        border: none;
        position: relative;
        perspective: 380px;
        font-size: rem-calc(15.75vw);        
    }
       
  
  }

  @include breakpoint(medium down) {
    
      .cards {
      
          height: 23vh;
          width: 95vw;
          font-size: rem-calc(12.75vw);        
          perspective: 380px;
          padding-bottom: 5%;;
      }
      .mobile_divider
      {
          padding-bottom: 1vh;
      }    
  
  }

@include breakpoint(small down) {
  
    .cards {
    
        height: 23vh;
        width: 95vw;
        font-size: rem-calc(12.75vw);        
        perspective: 380px;
        padding-bottom: 5%;;
    }
    .mobile_divider
    {
        padding-bottom: 1vh;
    }    

}
.cards:hover .fronts {
    transform: rotateY(-180deg);
}
.cards:hover .backs {
    transform: rotateY(0deg);
}
.faces {
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 40px 20px;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}
.backs {
    transform: rotateY(180deg);
    background: #ffff;
    &#logo_back {
        color: #ffff;
        background: linear-gradient(-45deg,#28e998,#2e96db);
        border: none;
    }
    &#web_back {
        background: linear-gradient(-35deg,#c9252c,#681e72);
        color: #ffff;
        border: none;
    }
    &#development_back {
        background: linear-gradient(-35deg,#c900c9,#c23700);
        color: #ffff;
        border: none;
    }
}
.fronts {
    overflow: hidden;
}
.faces.fronts:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255,255,255,0.25);
    z-index: 1;
    -webkit-transform: skewY(-5deg) scale(1.5);
}
#development_card {
    background: #fb9e7f;
    color: #ffff;
    border: none;
}
#web_card {
    background: #4885ed;
    color: #ffff;
    border: none;
}
#logo_card {
    color: #ffff;
    background: #3cba54;
    border: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(250, 193, 50, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #4c4c4c;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.dotnav-vertical > li {
    display: block;
    margin-right: 10px;
}
.dotnav-vertical > li:nth-child(n+2) {
    margin-left: 0;
    margin-top: 10px;
}

form{
    margin-top:50px;
    transition: all 4s ease-in-out;

}

.contact_form{
@include horizontal-center;
}

.form_control{
width: 600px;
background:transparent;
border:none;
outline: none;
border-bottom:1px solid #4c4c4c;
color: #ffffff;
font-size:18px;
margin-bottom: 16px;

}

input{
    height:45px;
    color: #4c4c4c;
    cursor: pointer;
    
}

textarea{
    resize: none;    
}

form .submit{
    background:#4c4c4c;
    font-size:20px;
    font-weight: bold;
    letter-spacing: 2px;
    height:50px;
    margin-top:20px;
    border: 1px solid #fac232;
}

#skill_text{
    display: inline-block;
    color:#fac232;
    font-size: rem-calc(55vw);
    font-family: "Raleway" sans-serif;
    font-weight:bold;
    width:100%;
}

@include breakpoint(large down) {
    
      #skill_text{
          @include horizontal-center;
          font-size: rem-calc(29);
          display: inline-table;
          
      }
  }


.scroll-down {
    position: absolute;
    top: 94%;
    left: 51%;
    transform: translate(-50%,-50%);
    height: 50px;
    text-shadow: 0 0 80px rgba(255,255,255,0.85);
}
.scroll-down p {
    position: absolute;
    text-align: center;
    width: 120px;
    padding-top: 120px;
    padding-right: 10px;
    transform: translate(-50%,-50%);
    color: rgba(255,255,255,0.85);
    text-shadow: 0 0 80px rgba(255,255,255,0.85);
    font-family: sans-serif;
    font-weight: bold;
    font-size: rem-calc(1vw);
}
.scroll-down:before {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-left: 2px solid rgba(255,255,255,0.85);
    border-bottom: 2px solid rgba(255,255,255,0.85);
    transform: rotate(-45deg);
}
.scroll-down:after {
    content: '';
    position: absolute;
    top: 23px;
    left: -6px;
    width: 2px;
    height: 25px;
    background: rgba(255,255,255,0.85);
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }
    45% {
        transform-origin: top;
        transform: scaleY(1);
    }
    55% {
        transform-origin: bottom;
        transform: scaleY(1);
    }
    100% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
}
.grid-x {
    &.about_g {
        height: 100vh;
        color: #000000;
        background: #5e5e5e;
        width: 100%;
        z-index: 0;
    }
    &.skill_g {
        height: 100vh;
        color: #f5c628;
    }
}
.about_g:before {
    content: ' ';
    position: absolute;
    top: 170vh;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fac232;
    z-index: -1;
    -webkit-transform: skewY(-5deg) scale(1);
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.profile_wrapper {
    padding-top: 5%;
    width: 100%;
    height: 30%;
    
}

.burger_wrapper{
    position: fixed;
    top: 0px;
    left: 0px;
    padding-left: 1.5vh;
    padding-top:1.5vh;
    width: auto;
    height:auto;
    cursor:pointer;
    z-index: 2;
    visibility: hidden;
    
}
@include breakpoint(medium down) {
    .burger_wrapper{
    visibility: visible;
    }        
}

.hamburger{
    @include hamburger(#a7a7a7, #000000, 25px, 25px,3px);
    
}

.profile_img {
    @include horizontal-center;
    border-radius:50vh; 
    position: relative;
    height: 20vh;
    width: 20vh;
    background: url("../../assets/img/ProfilePhoto.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#about_container {
    color: white;
    border-radius: 10px;
    width: 30%;
    position: relative;
    height: 75vh;
    font-size: rem-calc(18vw);
    letter-spacing: rem-calc(1.2);
    background: rgba(0,0,0,0.25);
    overflow: hidden;
}

@include breakpoint(large down) {
    #about_container{
        width:50%;
        font-size: rem-calc(15);
        
    }

}

@include breakpoint(small down) {
    #about_container{
        width:90%;
    }

}
.centered {
    color: rgba(255,255,255,0.90);
    margin: 0;
    text-align: center;
}
.centered p {
    top: 18%;
    padding-left: 50vh;
    width: 40rem;
    margin: 0 0 0 -20em;
    text-transform: uppercase;
    letter-spacing: .4vh;
    display: inline-block;
    border: rem-calc(4vw) double rgba(255,255,255,0.85);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    
    background: rgba(0, 0, 0, 0.822);
    
}
.centered span {
    font-family: "Raleway" sans-serif;
    letter-spacing: 0vw;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(0,0,0,0.25);
}
#carousel {
    display: table-cell;
    @include absolute-center;
    width: 90%;
    border-radius: 5px;
    
}

ul {
    list-style-type: none;
}

.orbit-container{
    border-radius: 15px;
    height: 80vh;
}

$white: #fefefe;
.docs-example-orbit-slide {
    padding: 2rem 4rem;
    color: $white;
    font-size: rem-calc(27);
    border-radius: 15px;

    height: 70vh;
    background: rgba(71, 71, 71, 0.699);
 
}


.bold_title {
    font-weight: bold;


    &.skill {
        font-size: rem-calc(55);
        color:#4c4c4c;
        font-family: "Raleway" sans-serif;
        font-weight:bold;      

    }
    &.about {
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: rem-calc(167);
    }
}

.contact_cards{
    height: 45vh;
    width: 45vh;
    display:block;
    border: none;
    margin: 0 auto;
    font-size: rem-calc(20.75vw);
    transition-timing-function: ease-in;
    transition: 0.5s;
    border-radius: 10%;
    

    &.email{
        background: url("../../assets/img/mail4.svg") no-repeat center center;
        background-size: 50% 50%;
        background-color: #db3236;
       
    }

    &.linkedin{
        background: url("../../assets/img/linkedin.svg")no-repeat center  center;
        background-color: #0077B5;        
        background-size: 50% 50%;
        
        
    }
 }


 .contact_container{
    padding-top:20vh;
    
}

 @include breakpoint(large down) {

    .contact_container{
        padding-top:5vh;        
        padding-bottom: 10vh;   
        
    }
    .contact_cards.email{
        height: 25vh;
        width: 25vh;
        
    }

    .contact_cards.linkedin{
        height: 25vh;
        width: 25vh;
    }
}

 .contact_cards.email:hover { 
    background-color: #db3236;
    transform: scale(1.2); 
    
}
.contact_cards.linkedin:hover { 
    background-color: #0077B5;
    transform: scale(1.2); 
    
}

.cards {
    @include vertical-center;
    @include horizontal-center;
    height: 45vh;
    width: 45vh;
    border: none;
    position: relative;
    perspective: 500px;
    font-size: rem-calc(20.75vw);
}
@include breakpoint(large down) {
    
      .cards {
      
        height: 55vh;
        width: 30vw;
        border: none;
        position: relative;
        perspective: 380px;
        font-size: rem-calc(15.75vw);        
    }
       
  
  }


@include breakpoint(small down) {
  
    .cards {
    
        height: 23vh;
        width: 95vw;
        font-size: rem-calc(12.75vw);        
        perspective: 380px;
        padding-bottom: 5%;;
    }
    .mobile_divider
    {
        padding-bottom: 1vh;
    }    

}
.cards:hover .fronts {
    transform: rotateY(-180deg);
}
.cards:hover .backs {
    transform: rotateY(0deg);
}
.faces {
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 40px 20px;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all 0.7s ease;

}
.backs {
    transform: rotateY(180deg);
    background: #ffff;
    &#logo_back {
        color: #ffff;
        background: linear-gradient(-45deg,#28e998,#2e96db);
        border: none;
    }
    &#web_back {
        background: linear-gradient(-35deg,#c9252c,#681e72);
        color: #ffff;
        border: none;
    }
    &#development_back {
        background: linear-gradient(-35deg,#c900c9,#c23700);
        color: #ffff;
        border: none;
    }
}
.fronts {
    overflow: hidden;
}
.faces.fronts:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255,255,255,0.25);
    z-index: 1;
    -webkit-transform: skewY(-5deg) scale(1.5);
}
#development_card {
    background: #fb9e7f;
    color: #ffff;
    border: none;
}
#web_card {
    background: #4885ed;
    color: #ffff;
    border: none;
}
#logo_card {
    color: #ffff;
    background: #3cba54;
    border: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(250, 193, 50, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #4c4c4c;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.learn_more{
    @include horizontal-center;
    position: absolute;
    display: inline-grid;
    opacity: 0.8;
    font-size: vw-calc(15);
    bottom: 0;
}